<!DOCTYPE html>
<html>
<head>
	<title>Person Display</title>
	<link rel="stylesheet" href="post.css">
</head>
<body>
	<div id="main">
		<h1>Json File</h1>
		<p><h3><b>Id:</h3> </b><%= id %></p>
		<p><h3><b>First Name:</b></h3> </b><%= fname %></p>
		<p><h3><b>Last Name:</h3> </b>$<%= lname %></p>
		<p><h3><b>Date of Birth:</h3> </b>$<%= dob %></p>
		<br><br>
	</div>
</body>
</html>