<!DOCTYPE html>
<html>
<head>
	<title>Operation Result</title>
</head>
<body>
	<div>
		<h1>POSTAL RATE CALCULATION</h1>
		<p><b>You have chosen: </b><%= mail %></p>
		<p><b>Your Weight: </b><%= weight %></p>
		<p><b>Cost of Shipping: </b>$<%= rate %></p>
		<br><br>
		<img src="usps.jpg" alt="USPS">
	</div>
</body>
</html>